html {
  scroll-behavior: smooth;
}
.header-link:hover {
  border-bottom: 2px solid #403F3D;
}
.header-menu:hover {
  border-bottom: 2px solid #403F3D;
}
.hero-button:hover {
  background-image: url('../coffee-house/assets/icon/coffee-cup.svg');
  background-repeat: no-repeat;
  background-position: center right 50px;
}
.choose-arrow-icon:hover {
  fill: var(--bg-color-container);
  stroke: var(--text-color-light);
  transition: 0.5s;
}
.about-img {
  transition: 0.3s;
}
.about-img-small {
  transition: 0.3s;
}
.about-photo:hover .about-img {
  transform: scale(0.9);
}
.about-photo-small:hover .about-img-small {
  transform: scale(0.9);
}
.apps-info-button:hover {
  background-color: var(--bg-color-container);
  transition: 0.5s;
}
.apps-info-button:hover .apps-info-button-icon{
  fill: var(--text-color-light);
}
.apps-info-button:hover .apps-info-button-name {
  color: var(--text-color-light);
}
.apps-info-button:hover .apps-info-button-text {
  color: var(--text-color-light);
}
.footer-contact-line:hover {
  border-bottom: 2px solid var(--text-color-light);
  transition: 0.1s;
}
.footer-social-btn:hover {
  background-color: var(--bg-color-body);
  cursor: pointer;
  transition: 0.5s;
}
.footer-social-btn:hover .footer-social-icon{
  stroke: var(--text-color-dark);
}
.menu-button:hover {
  background-color: var(--bg-color-container);
  transition: 0.5s;
  cursor: pointer;
}
.menu-button:hover .menu-button-link {
  color: var(--text-color-light);
}
.menu-button:hover .menu-button-icon {
  background-color: var(--bg-color-body);
  transition: 0.5s;
}
.menu-coffee-card:hover .menu-coffee-photo {
  transform: scale(0.9);
  transition: 0.5s;
}
.footer-contact-line-none:hover {
  border-bottom: none;
}